// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "omap4460.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "Samsung Galaxy Nexus";
	compatible = "ti,tuna", "ti,omap4460", "ti,omap4";

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x40000000>; /* 1 GB */
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		ramoops_region@a0000000 {
			no-map;
			reg = <0xa0000000 0x200000>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		power {
			label = "power";
			gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_POWER>;
			wakeup-source;
		};

		volume-down {
			label = "volume_down";
			gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
		};

		volume-up {
			label = "volume_up";
			gpios = <&gpio1 30 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
		};
	};
};

&omap4_pmx_core {
	i2c1_pins: pinmux_i2c1_pins {
		pinctrl-single,pins = <
			OMAP4_IOPAD(0x122, PIN_INPUT_PULLUP | MUX_MODE0)	/* i2c1_scl */
			OMAP4_IOPAD(0x124, PIN_INPUT_PULLUP | MUX_MODE0)	/* i2c1_sda */
		>;
	};

	i2c2_pins: pinmux_i2c2_pins {
		pinctrl-single,pins = <
			OMAP4_IOPAD(0x126, PIN_INPUT_PULLUP | MUX_MODE0)	/* i2c2_scl */
			OMAP4_IOPAD(0x128, PIN_INPUT_PULLUP | MUX_MODE0)	/* i2c2_sda */
		>;
	};

	i2c3_pins: pinmux_i2c3_pins {
		pinctrl-single,pins = <
			OMAP4_IOPAD(0x12a, PIN_INPUT_PULLUP | MUX_MODE0)	/* i2c3_scl */
			OMAP4_IOPAD(0x12c, PIN_INPUT_PULLUP | MUX_MODE0)	/* i2c3_sda */
		>;
	};

	i2c4_pins: pinmux_i2c4_pins {
		pinctrl-single,pins = <
			OMAP4_IOPAD(0x12e, PIN_INPUT_PULLUP | MUX_MODE0)	/* i2c4_scl */
			OMAP4_IOPAD(0x130, PIN_INPUT_PULLUP | MUX_MODE0)	/* i2c4_sda */
		>;
	};

	mmc1_pins: pinmux_mmc1_pins {
		pinctrl-single,pins = <
			OMAP4_IOPAD(0xe4, PIN_OUTPUT | MUX_MODE0)	/* sdmmc1_clk */
			OMAP4_IOPAD(0xe6, PIN_INPUT_PULLUP | MUX_MODE0)	/* sdmmc1_cmd */
			OMAP4_IOPAD(0xe8, PIN_INPUT_PULLUP | MUX_MODE0)	/* sdmmc1_dat0 */
			OMAP4_IOPAD(0xea, PIN_INPUT_PULLUP | MUX_MODE0)	/* sdmmc1_dat1 */
			OMAP4_IOPAD(0xec, PIN_INPUT_PULLUP | MUX_MODE0)	/* sdmmc1_dat2 */
			OMAP4_IOPAD(0xee, PIN_INPUT_PULLUP | MUX_MODE0)	/* sdmmc1_dat3 */
		>;
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;

	clock-frequency = <400000>;

	twl: twl@48 {
		reg = <0x48>;
		interrupts = <GIC_SPI 7 IRQ_TYPE_LEVEL_HIGH>;		/* IRQ_SYS_1N cascaded to gic */
	};

};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;

	clock-frequency = <400000>;
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;

	clock-frequency = <100000>;
};

&i2c4 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4_pins>;

	clock-frequency = <400000>;

	led-controller@30 {
		compatible = "panasonic,an30259a";
		reg = <0x30>;
		#address-cells = <1>;
		#size-cells = <0>;

		led@1 {
			reg = <1>;
			label = "red:indicator";
		};

		led@2 {
			reg = <2>;
			label = "green:indicator";
		};

		led@3 {
			reg = <3>;
			label = "blue:indicator";
		};
	};

	fuelgauge@36 {
		compatible = "maxim,max17040";
		reg = <0x36>;
	};

	gyroscope@68 {
		compatible = "invensense,mpu3050";
		reg = <0x68>;
	};

	accelerometer@18 {
		compatible = "bosch,bma250";
		reg = <0x18>;
	};
};

#include "twl6030.dtsi"
#include "twl6030_omap4.dtsi"

&vaux1 {
	/* https://github.com/LineageOS/android_kernel_samsung_tuna/blob/3900c2b6dcee9198e4e03abfecdedd1c30f68c0f/arch/arm/mach-omap2/board-tuna.c#L427-L441 */
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
	regulator-always-on;
};

&vaux2 {
	/* https://github.com/LineageOS/android_kernel_samsung_tuna/blob/3900c2b6dcee9198e4e03abfecdedd1c30f68c0f/arch/arm/mach-omap2/board-tuna.c#L443-L458 */
	regulator-min-microvolt = <1200000>;
	regulator-max-microvolt = <2800000>;
	regulator-state-mem {
		regulator-off-in-suspend;
	};
};

&vaux3 {
	/* https://github.com/LineageOS/android_kernel_samsung_tuna/blob/3900c2b6dcee9198e4e03abfecdedd1c30f68c0f/arch/arm/mach-omap2/board-tuna.c#L466-L482 */
	regulator-min-microvolt = <3100000>;
	regulator-max-microvolt = <3100000>;
};

&vmmc {
	/* https://github.com/LineageOS/android_kernel_samsung_tuna/blob/3900c2b6dcee9198e4e03abfecdedd1c30f68c0f/arch/arm/mach-omap2/board-tuna.c#L484-L500 */
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
};

&vpp {
	/* https://github.com/LineageOS/android_kernel_samsung_tuna/blob/3900c2b6dcee9198e4e03abfecdedd1c30f68c0f/arch/arm/mach-omap2/board-tuna.c#L502-L517 */
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <2500000>;
	regulator-state-mem {
		regulator-off-in-suspend;
	};
};

&vusim {
	/* https://github.com/LineageOS/android_kernel_samsung_tuna/blob/3900c2b6dcee9198e4e03abfecdedd1c30f68c0f/arch/arm/mach-omap2/board-tuna.c#L525-L539 */
	regulator-min-microvolt = <2200000>;
	regulator-max-microvolt = <2200000>;
};

&vana {
	/* https://github.com/LineageOS/android_kernel_samsung_tuna/blob/3900c2b6dcee9198e4e03abfecdedd1c30f68c0f/arch/arm/mach-omap2/board-tuna.c#L541-L554 */
	regulator-min-microvolt = <2100000>;
	regulator-max-microvolt = <2100000>;
	regulator-always-on;
};

&vcxio {
	/* https://github.com/LineageOS/android_kernel_samsung_tuna/blob/3900c2b6dcee9198e4e03abfecdedd1c30f68c0f/arch/arm/mach-omap2/board-tuna.c#L561-L576 */
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
};

&vdac {
	/* https://github.com/LineageOS/android_kernel_samsung_tuna/blob/3900c2b6dcee9198e4e03abfecdedd1c30f68c0f/arch/arm/mach-omap2/board-tuna.c#L584-L598 */
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
};

&vusb {
	/* https://github.com/LineageOS/android_kernel_samsung_tuna/blob/3900c2b6dcee9198e4e03abfecdedd1c30f68c0f/arch/arm/mach-omap2/board-tuna.c#L604-L619 */
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-state-mem {
		regulator-off-in-suspend;
	};
};

&mmc1 {
	status = "ok";
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins>;

	vmmc-supply = <&vmmc>;
	bus-width = <8>;
	cap-mmc-highspeed;
	ti,non-removable;
};

&twl_usb_comparator {
	usb-supply = <&vusb>;
};

&usb_otg_hs {
	interface-type = <1>;
	mode = <3>;
	power = <50>;
};

&usbhshost {
	port1-mode = "ehci-phy";
};
